<ion-view hide-nav-bar="true">
	<ion-slide-box on-slide-changed="slideHasChanged($index)" class="slider-box">
	  <ion-slide>
	    <div class="box" style="background: url('../img/slider1.jpg')">
	    	
	    </div>
	  </ion-slide>
	  <ion-slide>
	    <div class="box" style="background: url('../img/slider2.jpg')">
	    </div>
	  </ion-slide>
	  <ion-slide>
	    <div class="box" style="background: url('../img/slider3.jpg')">
	    </div>
	  </ion-slide>
	</ion-slide-box>
	<div class="button-slider-container">
		<button class="button button-transparent button-slider" ng-click="openMenu()">
	  		Get Started
		</button
	</div>
	
</ion-view>